@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*,
::before,
::after {
  font-family: "Inter", sans-serif;
}

body, html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

body #bg {
  background-color: #4b7ccf;
  -webkit-clip-path: polygon(100% 0, 100% 79%, 64% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 79%, 64% 100%, 0 100%, 0 0);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 1200px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 76% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 76% 0, 50% 100%, 0% 100%);
  }
}

body .logo {
  display: block;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4rem 4rem;
  font-weight: 600;
}

@media (min-width: 1200px) {
  body .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: logo 1 / 1 / 2 / 2;
  }
}

body main {
  text-align: center;
  margin: 2em 4em;
}

@media (min-width: 1200px) {
  body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo" 10% "primary card" 90%;
    gap: 2rem 8rem;
  }
}

body main .card {
  background-color: white;
  position: relative;
  padding: 1.5rem 1.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}

@media (min-width: 1200px) {
  body main .card {
    text-align: left;
    grid-area: card;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body main .card ul {
  list-style-type: none;
}

body main .card ul span {
  background-color: #ecf1fa;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  position: absolute;
  left: 1.75rem;
}

body main .card ul p {
  text-align: left;
  margin-left: 1rem;
}

@media (min-width: 1200px) {
  body main .primary {
    margin: 4rem 0 0 4rem;
    text-align: left;
    grid-area: primary;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body main .primary h1 {
  color: white;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1.1em;
  margin: 6rem 0 3rem 0;
}

body main .primary h3 {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

body main .primary a.button {
  color: darker(#4b7ccf, 40%);
  background-color: #FFF6BB;
  padding: 1.5em 3.25em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 15px;
  margin: 6em auto;
  display: block;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 50%;
}

@media (min-width: 1200px) {
  body main .primary a.button {
    margin: 6em 0;
  }
}
/*# sourceMappingURL=main.css.map */