@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


// variables
$colors: (
    primary: #4b7ccf,
    primary-light: lighten(#4b7ccf, 40%),
    primary-darker: darker(#4b7ccf, 40%),
    accent: #FFF6BB,
    base-color: white,
    logo-color: white,
    tagline-color: white,
); 

$borders: 15px;

//function to simplify using color variables. Instead of using get-map on each element you can use name-of-function($function-parameter), for example: background-color: colors($color-name)
@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 1200px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

*, 
::before, 
::after {
    font-family: 'Inter', sans-serif,
}

body, html {
    height:100vh;
    box-sizing: border-box;
}

body {
    background-color:color(base-color);
    margin: 0;
    padding: 0;

    #bg {
        background-color: color(primary);
        // Clip path link: https://bennettfeely.com/clippy/
        clip-path: polygon(100% 0, 100% 79%, 64% 100%, 0 100%, 0 0);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        @include desktop {
            clip-path: polygon(0 0, 76% 0, 50% 100%, 0% 100%);
        }
    }

    .logo {
        display:block;
        color: color(logo-color);
        font-size: 1.25rem;
        text-decoration: none;
        text-transform: uppercase ;
        padding: 4rem 4rem;
        font-weight: 600;
        @include desktop {
            grid-area: logo 1 / 1 / 2 / 2;
        }
    } 
 
    main {
        text-align: center;
        margin: 2em 4em;
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "logo" 10%
            "primary card" 90% ;
            gap: 2rem 8rem;
        }

        .card {
            background-color: color(base-color); 
            position: relative;
            padding: 1.5rem 1.5rem;
            border-radius: $borders;
            box-shadow: 0 10px 30px rgba(0,0,0,0.2);
            list-style-type: none;
            @include desktop {
                text-align: left;
                grid-area: card;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                height: fit-content;
                align-self: center;
            }

                ul {
                    list-style-type: none;
                
        
                    span {
                        background-color:color(primary-light);  
                        border-radius: 50%;
                        height: 1em;
                        width: 1em;
                        position: absolute;
                        left: 1.75rem;
                    }
        
                    p   {
                        text-align: left;
                        margin-left: 1rem
                    }
        
                }
        }


        .primary {
            @include desktop {
                margin: 4rem 0 0 4rem;
                text-align: left;
                grid-area: primary;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                height: fit-content;
                align-self: center;
            }

            h1 { 
                color: color(tagline-color);   
                font-size: 4em;
                text-transform: uppercase;
                line-height: 1.1em;
                margin: 6rem 0 3rem 0;
            }
            
            h3 {
                color: color(tagline-color);
                font-size: 1.25rem; 
                font-weight: 400; 
            }
            
            a.button {
                color: color(primary-darker);
                background-color: color(accent);
                padding: 1.5em 3.25em;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                font-size: 0.9rem;
                font-weight: 400;
                border-radius: $borders;
                margin: 6em auto;
                display: block;
                box-shadow: 0 10px 30px rgba(0,0,0,0.2);
                width: 50%;
                @include desktop {
                    margin: 6em 0;
                }
            }
        }


    }
}